mat-form-field{
    margin-left: 3rem;
    width: 20%;

}

h1, p{
    margin-left: 3rem;
}

.color{
    background: rgb(22, 92, 125);
    height: 3.5rem;
    width: 12rem;
    margin-left: 1rem;
    top: -.5rem;
    color: white;
    
}