<div class="container">
    <mat-card class="card1">
        <mat-card-title>Situação cadastral do CPF</mat-card-title>
        <mat-card-subtitle>Consulta na Receita Federal</mat-card-subtitle>
        <mat-card-content>
            <mat-card-subtitle>Nome</mat-card-subtitle>
            <mat-card-title>Mariane de Sousa Oliveira</mat-card-title>
        </mat-card-content>
        <mat-card-content>
            <mat-icon class="iconesintuacao" aria-hidden="false" aria-label="Example home icon">person_filled</mat-icon>
            <mat-card-subtitle>Sintuação CPF</mat-card-subtitle>
            <mat-icon class="iconeregular" aria-hidden="false" aria-label="Example home icon">done_all</mat-icon>
            <mat-card-title>Regular</mat-card-title>
        </mat-card-content>
        <mat-divider inset></mat-divider>
       
      </mat-card>

      <mat-card class="card2">
        <mat-card-title>Conta aplicação</mat-card-title>
        <mat-card-subtitle>Cooperativa cadastral</mat-card-subtitle>
        <mat-card-content>
            <mat-card-subtitle>Numero da conta</mat-card-subtitle>
            <mat-card-title>557932-4</mat-card-title>
        </mat-card-content>
        <mat-card-content>
           <a href="##">Duplicar conta </a>
        </mat-card-content>
        <mat-divider inset></mat-divider>
       
      </mat-card>

      <mat-card class="card3">
        <mat-card-title>Conta corrente</mat-card-title>
        <mat-card-subtitle>Cooperativa cadastral</mat-card-subtitle>
        <mat-card-content>
            <mat-card-subtitle>Numero da conta</mat-card-subtitle>
            <mat-card-title>778461-8</mat-card-title>
        </mat-card-content>
        <mat-card-content>
            <a href="##">Duplicar conta </a>
        </mat-card-content>
        <mat-divider inset></mat-divider>
       
      </mat-card>
</div>